<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%p [%t] %c{1}.%M(%L) | %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- <Logger name="org.apache" level="debug"/>
        <Logger name="org.compass" level="warn"/>
        <Logger name="org.springframework" level="debug"/>
        <Logger name="com.lnngle" level="debug"/> -->

        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
