<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lnngle.gstone.dao.mybatis.model.TestTable1Model">
	<insert id="insert" parameterType="com.lnngle.gstone.dao.mybatis.model.TestTable1Model">
		insert into test_table1(id,name,age)
		values(#{id}, #{name}, #{age})
	</insert>

	<update id="update" parameterType="com.lnngle.gstone.dao.mybatis.model.TestTable1Model">
		update test_table1 set name = #{name},age = #{age} where id=#{id}
	</update>

	<select id="get" parameterType="String"
		resultType="com.lnngle.gstone.dao.mybatis.model.TestTable1Model">
		select * from test_table1 where id=#{id}
	</select>

	<delete id="delete" parameterType="String">
		delete from test_table1 where id=#{id}
	</delete>

	<select id="getAll" parameterType="String"
		resultType="com.lnngle.gstone.dao.mybatis.model.TestTable1Model">
		select * from test_table1
	</select>
</mapper>