<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations" value="classpath*:config/mybatis/mappers/**/*.xml" />
		<property name="plugins">
			<ref bean="diclectStatementHandlerInterceptor" />
		</property>
	</bean>

	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>

	<bean id="diclectStatementHandlerInterceptor"
		class="com.chlol.gstone.dao.mybatis.dialect.DiclectStatementHandlerInterceptor">
		<property name="dialect" ref="mysqlDialect" />
	</bean>

	<bean id="db2Dialect"
		class="com.chlol.gstone.dao.mybatis.dialect.impl.DB2Dialect"></bean>
	<bean id="informixDialect"
		class="com.chlol.gstone.dao.mybatis.dialect.impl.InformixDialect"></bean>
	<bean id="mysqlDialect"
		class="com.chlol.gstone.dao.mybatis.dialect.impl.MySQLDialect"></bean>
	<bean id="oracleDialect"
		class="com.chlol.gstone.dao.mybatis.dialect.impl.OracleDialect"></bean>
	<bean id="sqlServer2005Dialect"
		class="com.chlol.gstone.dao.mybatis.dialect.impl.SQLServer2005Dialect"></bean>
	<bean id="sqlServerDialect"
		class="com.chlol.gstone.dao.mybatis.dialect.impl.SQLServerDialect"></bean>
	<bean id="sybaseDialect" class="com.chlol.gstone.dao.mybatis.dialect.impl.SybaseDialect"></bean>
</beans>
